
@{
    ViewData["Title"] = "Lesson 7 Quiz";
}

<h3>Lesson 7 Quiz</h3>
<p>Placeholder space for quiz</p>
<a type="button" class="btn btn-success" asp-controller="Lesson" asp-action="Index">Back to Lessons</a>
