@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuantumLearn!</h1>
    <br />
    <a type="button" class="btn btn-success" asp-controller="Lesson" asp-action="Index">Start Lessons Now</a>
</div>