
@{
    ViewData["Title"] = "Resources";
}

<h1 class="resFontTitle">External Resources</h1>
<h4 class="resText ms-1">Clicking on an area will open a new window.</h4><br />

<div class="row justify-content-center">
    <div class="card col-3 me-5">
        <a href="https://quantum-computing.ibm.com/" class="disguisedLink" target="_blank">
            <div class="card-body">
                <h5 class="card-title resFont">Learn Quantum Computing: A Field Guide</h5>
                <p class="card-text resText">Learning, how-to, and reference materials for IBM Quantum</p><br /><br /><hr />
                <p class="card-text resText">quantum-computing.ibm.com</p>
            </div>
        </a>
    </div>

    <div class="card col-3 me-5">
        <a href="https://quantum-computing.ibm.com/lab" class="disguisedLink" target="_blank">
            <div class="card-body">
                <h5 class="card-title resFont">Quantum Lab</h5>
                <p class="card-text resText">Program with the Quantum Lab powered by Jupyter technology in IBM Quantum. Run code on real quantum systems and work is saved in the cloud.</p><hr />
                <p class="card-text resText">quantum-computing.ibm.com/lab</p>
            </div>
        </a>
    </div>

    <div class="card col-3">
        <a href="https://qiskit.org/learn" class="disguisedLink" target="_blank">
            <div class="card-body">
                <h5 class="card-title resFont">Qiskit Introduction</h5>
                <p class="card-text resText">An interactive textbook to learn Qiskit (a development kit for working with quantum computers)</p><br /><br /><hr />
                <p class="card-text resText">qiskit.org/learn</p>
            </div>
        </a>
    </div>
</div>
