
@{
    ViewData["Title"] = "Lessons";
}

<div>
    <h1 class="display-4 text-center" id="lessonsTitle">QuantumLearn Lessons</h1><br />

    <div class="container row row-cols-1 row-cols-md-3 g-4 justify-content-center h-100">
        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less1Main.jpg" class="img-fluid rounded-start lessonPic" alt="Quantum Computer">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num1" class="disguisedLink">Lesson 1</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num1" class="disguisedLink">History of Quantum Computers</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num1">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz1">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less2Main.jpg" class="img-fluid rounded-start lessonPic" alt="Desktop Computer">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num2" class="disguisedLink">Lesson 2</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num2" class="disguisedLink">Classical vs Quantum Computers</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num2">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz2">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less3Main.jpg" class="img-fluid rounded-start lessonPic" alt="Qubits">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num3" class="disguisedLink">Lesson 3</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num3" class="disguisedLink">Why Learn Quantum Computing</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num3">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz3">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less4Main.jpg" class="img-fluid rounded-start lessonPic" alt="Qubit">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num4" class="disguisedLink">Lesson 4</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num4" class="disguisedLink">Qubits, Superposition & Entanglement</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num4">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz4">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less5Main.jpg" class="img-fluid rounded-start lessonPic" alt="Square Root of Negative 1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num5" class="disguisedLink">Lesson 5</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num5" class="disguisedLink">Imaginary Unit</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num5">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz5">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less6Main.jpg" class="img-fluid rounded-start lessonPic" alt="Qubit">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num6" class="disguisedLink">Lesson 6</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num6" class="disguisedLink">Qubit State</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num6">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz6">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less7Main.jpg" class="img-fluid rounded-start lessonPic" alt="Probabily Chart">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num7" class="disguisedLink">Lesson 7</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num7" class="disguisedLink">Probability</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num7">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz7">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less8Main.jpg" class="img-fluid rounded-start lessonPic" alt="Phase Chart">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num8" class="disguisedLink">Lesson 8</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num8" class="disguisedLink">Qubit Phase</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num8">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz8">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less9Main.jpg" class="img-fluid rounded-start lessonPic" alt="Amplitude Lines">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num9" class="disguisedLink">Lesson 9</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num9" class="disguisedLink">Qubit Amplitude</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num9">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz9">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less10Main.jpg" class="img-fluid rounded-start lessonPic" alt="Logic Gates">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num10" class="disguisedLink">Lesson 10</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num10" class="disguisedLink">Logic Gates</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num10">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz10">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less11Main.jpg" class="img-fluid rounded-start lessonPic" alt="Quantum Computer Chip">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num11" class="disguisedLink">Lesson 11</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num11" class="disguisedLink">Quantum Gates Overview</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num11">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz11">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less12Main.jpg" class="img-fluid rounded-start lessonPic" alt="Quantum Gates Applied to Qubits">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num12" class="disguisedLink">Lesson 12</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num12" class="disguisedLink">Common Quantum Gates</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num12">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz12">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-dark p-0 me-5 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/Less13Main.jpg" class="img-fluid rounded-start lessonPic" alt="3D Algorithm Visual">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="lessonNum"><a asp-controller="Lesson" asp-action="Num13" class="disguisedLink">Lesson 13</a></h5>
                        <p class="card-text lessonName"><a asp-controller="Lesson" asp-action="Num13" class="disguisedLink">Quantum Algorithms</a></p>
                        <p>
                            <a type="button" class="btn btn-success btn-sm" asp-controller="Lesson" asp-action="Num13">Start Lesson</a>
                            <a type="button" class="btn btn-warning btn-sm" asp-controller="Quiz" asp-action="Quiz13">Take Quiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
