@model int

@{
    ViewData["Title"] = $"Lesson {Model}";
}

<div class="container lessQuizNum col-10">
    <h3 class="lessQuizNum">Lesson @Model</h3>
    <h1 class="lessName">Quantum Gates Overview</h1><br />

    <div class="row">
        <div class="col-9 fs-5">
            Quantum gates are operations that can be applied to qubits to change their state. They are the building blocks of quantum computing, just like logic gates (AND, OR, NOT, etc.) are for classical computing.
            <br /><hr />
            <h5 class="fw-bold opacity-75">Here are some basic topics related to quantum gates:</h5><br />
        </div>
    </div>

    <div class="row">
        <div class="col-8 fs-5">
            <h5 class="fw-bold opacity-75">Unitary Operation</h5>
            Quantum gates perform a kind of operation called a "unitary operation." This operation changes the state of a qubit but preserves the probability of measuring different states. This is a fundamental requirement from quantum mechanics that distinguishes quantum gates from classical logic gates.
            <br /><br />
            <h5 class="fw-bold opacity-75">Reversibility</h5>
            Unlike classical gates, which sometimes erase information (for example, the AND gate gives 0 if any of its input bits are 0, so you can't recover the inputs from the output), quantum gates are reversible. This means if you apply a gate operation, you can always apply another gate to get back to your original state.
            <br /><br />
        </div>
        <div class="col-3">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less11_atomGIF.gif" />
        </div>
    </div>

    <div class="row">
        <div class="col-8 fs-5">
            <h5 class="fw-bold opacity-75">Types of Gates</h5>
            There are different kinds of quantum gates. Some work on a single qubit, and some work on two or more qubits. Quantum gates are usually represented as matrices, because in quantum mechanics, states and operations can be represented mathematically as vectors and matrices. The next lesson will detail some common quantum gates.
            <br /><br />
            <h5 class="fw-bold opacity-75">Quantum Circuits</h5>
            Like classical computing, where you arrange logic gates in specific ways to build a useful circuit, you can arrange quantum gates in certain ways to build quantum circuits. These circuits can then perform complex quantum computations.
            <br /><hr />
            Remember, quantum gates operate under the principles of quantum mechanics, which are quite different from classical physics. This makes quantum computing a fascinating and complex field, but also quite challenging to fully grasp without a deep understanding of quantum mechanics.
        </div>
        <div class="col-3">
            <img class="w-100 h-25 rounded-3 border border-dark border-3" src="~/images/less11_Circuit.jpg" />
            <p class="text-center fst-italic">A Simple Quantum Circuit</p>
        </div>
    </div>

    @await Html.PartialAsync("_TakeQuizPrevNextButtons", Model)
</div>
        