@model int

@{
    ViewData["Title"] = $"Lesson {Model}";
}

<div class="container lessQuizNum col-10">
    <h3 class="lessQuizNum">Lesson @Model</h3>
    <h1 class="lessName">Common Quantum Gates</h1><br />

    <div class="row">
        <div class="col-9 fs-5">
            <p class="fw-bold opacity-75">Here are some commonly used quantum gates:</p><br />
        </div>
        <div class="col-2">
            <p class="text-center fw-bold opacity-75">Matrix Representations:</p><br />
        </div>
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Pauli-X Gate</h5>
            This gate is like the NOT gate in classical computing. It switches the state of a qubit. So, if a qubit is in state |0⟩, the Pauli-X gate switches it to state |1⟩, and vice versa.<br /><br />
            Real-world analogy: A light switch being flipped on and off.
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_PauliXmatrix.jpg" />
        </div><hr />
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Pauli-Y Gate</h5>
            This gate is a combination of a bit flip (like the Pauli-X gate) and a phase flip.<br /><br />
            Real-world analogy: Walking in a revolving door (you rotate and twist in it).
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_PauliYmatrix.jpg" />
        </div><hr />
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Pauli-Z Gate</h5>
            Also known as a phase-flip gate, it leaves the |0⟩ state unchanged, while flipping the phase of the |1⟩ state.<br /><br />
            Real-world analogy: A spinning a top (it rotates around its core).
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_PauliZmatrix.jpg" />
        </div><hr />
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Hadamard Gate</h5>
            This gate puts a qubit into a superposition of states, meaning after passing through this gate, a qubit in state |0⟩ or |1⟩ will be in a state that is a combination of |0⟩ and |1⟩.<br /><br />
            Real-world analogy: Flipping a coin in the air (it's considered heads & tails in the air).
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_HadaMatrix.jpg" />
        </div><hr />
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">CNOT (Controlled NOT) Gate</h5>
            This is a two-qubit gate that performs the NOT operation on the second qubit only when the first qubit is in state |1⟩. It's a fundamental gate for creating quantum entanglement between two qubits.<br /><br />
            Real-world analogy: A dual lock where the first dial needs to be set before the second dial can be set.
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_CNOTmatrix.jpg" />
        </div><hr />
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">T Gate</h5>
            Also known as a π/8 gate, this gate applies a π/4 phase shift. If the qubit is in state |1⟩, it multiplies its amplitude by e^(iπ/4), where e is the base of the natural logarithm, and i is the imaginary unit.<br /><br />
            Real-world analogy: A color wheel rotated 45 degrees to set the hue.
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_Tmatrix.jpg" />
        </div><hr />
    </div>

    <div class="row rowLess12">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Toffoli Gate</h5>
            Also known as the "controlled-controlled-not" gate or "CCNOT" gate.<br />
            This is a three-qubit gate that applies a Pauli-X gate to the third qubit if the first two qubits are in the state |1⟩, leaving all other states unchanged.<br /><br />
            Real-world analogy: A high security door that needs two keys inserted at the same time to open the door.
        </div>
        <div class="col-2">
            <img class="w-100 h-50 rounded-3 border border-dark border-3" src="~/images/less12_ToffoliMatrix.jpg" />
        </div><hr />
    </div>

    <div class="row">
        <div class="col-9 fs-5">
            <p class="text-center fst-italic">A Quantum Circuit on 5 Qubits</p>
            <img class="w-100 h-100 rounded-3 border border-dark border-3" src="~/images/less12_Circuit.jpg" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-9 fs-5">
            <hr />These gates can be combined to create a huge variety of operations, and more complex quantum circuits. Just as in classical computing, where we combine simple gates like AND, OR, and NOT to create complex circuits, in quantum computing we can use these quantum gates and others to build complex quantum algorithms.
        </div>
    </div>

    @await Html.PartialAsync("_TakeQuizPrevNextButtons", Model)
</div>
