@model int
@* the model brings in the quiz number *@

@{
    ViewData["Title"] = $"Lesson {Model}";
}

<h3>Lesson @Model</h3>
<h1>A Brief History of Quantum Computers</h1>
<br />

<div div class="container border border-dark">
    <p>
        Conceptual Foundations (early 20th century): Quantum mechanics was developed, laying the theoretical groundwork for quantum computing.
        <br /><br />
        Early Propositions (1980-1990s): Physicists like Paul Benioff, Richard Feynman, and David Deutsch proposed the concept of quantum computing.
        <br /><br />
        Shor's Algorithm (1994): Peter Shor developed an algorithm for factoring large numbers efficiently on a quantum computer, sparking major interest in quantum computing.
        <br /><br />
        First Physical Implementations (1990s-2000s): Various physical systems, such as trapped ions and superconducting circuits, were explored for implementing quantum bits.
        <br /><br />
        Error Correction and Fault Tolerance (1990s-present): Quantum error correction codes and fault-tolerant protocols were developed, a crucial step towards building practical quantum computers.
        <br /><br />
        Commercial Quantum Computing (2010s-present): Companies like IBM, Google, and others started building quantum processors and providing cloud-based quantum computing services.
        <br /><br />
        Quantum Supremacy (2019): Google claimed "quantum supremacy" when their quantum computer solved a specific problem faster than a classical computer could. However, this didn't mean quantum computers were generally superior to classical ones as of that time.
        <br /><br />
        Ongoing Developments (present): Research in quantum computing is highly active, with ongoing efforts to increase the number of qubits, improve error rates, and develop useful quantum algorithms.
        <br /><br />
        It's important to note that while classical computing has a long and well-established history, quantum computing is still in its early stages and much of its potential remains theoretical.
    </p>
</div>

@await Html.PartialAsync("_TakeQuizPrevNextButtons", Model)
