@model int

@{
    ViewData["Title"] = $"Lesson {Model}";
}

<h3>Lesson @Model</h3>
<h1>Quantum Gates Overview</h1>
<br />

<div div class="container border border-dark">
    <p>
        Quantum gates are operations that can be applied to qubits to change their state. They are the building blocks of quantum computing, just like logic gates (AND, OR, NOT, etc.) are for classical computing.
        <br /><br />
        Here are some basic topics related to quantum gates:
        <br /><br />
        A. Unitary Operation:<br />
        Quantum gates perform a kind of operation called a "unitary operation." This operation changes the state of a qubit but preserves the probability of measuring different states. This is a fundamental requirement from quantum mechanics that distinguishes quantum gates from classical logic gates.
        <br /><br />
        B. Reversibility:<br />
        Unlike classical gates, which sometimes erase information (for example, the AND gate gives 0 if any of its input bits are 0, so you can't recover the inputs from the output), quantum gates are reversible. This means if you apply a gate operation, you can always apply another gate to get back to your original state.
        <br /><br />
        C. Types of Gates:<br />
        There are different kinds of quantum gates. Some work on a single qubit, and some work on two or more qubits. Quantum gates are usually represented as matrices, because in quantum mechanics, states and operations can be represented mathematically as vectors and matrices. The next lesson will detail some common quantum gates.
        <br /><br />
        D. Quantum Circuits:<br />
        Like classical computing, where you arrange logic gates in specific ways to build a useful circuit, you can arrange quantum gates in certain ways to build quantum circuits. These circuits can then perform complex quantum computations.
        <br /><br />
        Remember, quantum gates operate under the principles of quantum mechanics, which are quite different from classical physics. This makes quantum computing a fascinating and complex field, but also quite challenging to fully grasp without a deep understanding of quantum mechanics.
    </p>
</div>

@await Html.PartialAsync("_TakeQuizPrevNextButtons", Model)
