@model int

@{
    ViewData["Title"] = $"Lesson {Model}";
}

<div class="container lessQuizNum col-10">
    <h3 class="lessQuizNum">Lesson @Model</h3>
    <h1 class="lessName">Classical Computers vs Quantum Computers</h1><br />

    <div class="row">
        <div class="col-9 fs-5">
            <p>Quantum computers and classical computers are fundamentally different in how they process information. Here is an overview of some key differences.</p>
            <h5 class="fw-bold opacity-75">Basic Units of Information:</h5>
            Classical Computer: The basic unit of information is the bit, which can be either a 0 or a 1.<br /><br />
            Quantum Computer: The basic unit of information is the quantum bit or qubit, which can exist in a state of superposition where they can be both 0 and 1 at the same time.
            <br /><br />
            <h5 class="fw-bold opacity-75">Processing of Information:</h5>
            Classical Computer: Bits are processed in a linear, orderly fashion. For a given input, a classical computer follows a set of instructions to arrive at an output.<br /><br />
            Quantum Computer: Qubits can be processed in parallel due to their ability to be in multiple states at once. This allows a quantum computer to evaluate many possibilities simultaneously.
            <br /><br />
        </div>
        <div class="col-3">
            <img class="w-100 h-50 mt-5 rounded-3 border border-dark border-3" src="~/images/less2_BitVsQubit.jpg" />
            <p class="text-center fst-italic">Bits vs Qubits</p>
        </div>
    </div>

    <div class="row">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Entanglement:</h5>
            Classical Computer: No concept of entanglement exists. Each bit is independent of the others.<br /><br />
            Quantum Computer: Qubits can be entangled, meaning the state of one qubit can be dependent on the state of another, no matter how far apart they are. This is a key resource for quantum computing.
            <br /><br />
            <h5 class="fw-bold opacity-75">Determinism vs. Probabilism:</h5>
            Classical Computer: Computations are deterministic. For a given input and a given set of instructions, the output is always the same.<br /><br />
            Quantum Computer: Computations are probabilistic. The output state of a quantum computation is generally a superposition of states, and when it's measured, we get one of those states based on certain probabilities.
            <br /><br />
        </div>
        <div class="col-3">
            <img class="w-100 h-50 mt-5 rounded-3 border border-dark border-3" src="~/images/less2_EntangQubits.jpg" />
            <p class="text-center fst-italic">Entangled Qubits</p>
        </div>
    </div>

    <div class="row">
        <div class="col-9 fs-5">
            <h5 class="fw-bold opacity-75">Data Density:</h5>
            Classical Computer: Data density is limited. Each bit can hold one of two possible values, 0 or 1.<br /><br />
            Quantum Computer: Due to superposition, a qubit can hold an infinite number of possible values. This means quantum computers can potentially handle much larger amounts of data.
            <br /><br />
            <h5 class="fw-bold opacity-75">Computational Power:</h5>
            Classical Computer: Can efficiently solve a broad range of problems, but struggles with certain types of complex problems, such as optimization problems, factoring large numbers, simulating quantum systems, etc.<br /><br />
            Quantum Computer: Potentially able to solve certain complex problems much more efficiently than classical computers. Algorithms like Shor's and Grover's demonstrate this potential.
        </div>
        <div class="col-3">
            <img class="w-100 h-50 mt-5 rounded-3 border border-dark border-3" src="~/images/less2_Superpos.jpg" />
            <p class="text-center fst-italic">Superposition</p>
        </div>
    </div>

    @await Html.PartialAsync("_TakeQuizPrevNextButtons", Model)
</div>
