@model int

@{
    ViewData["Title"] = $"Lesson {Model}";
}

<div class="container lessQuizNum col-10">
    <h3 class="lessQuizNum">Lesson @Model</h3>
    <h1 class="lessName">Qubit State</h1><br />

    <div class="row">
        <div class="col-8 fs-5">
            A qubit is like a magical coin in the world of quantum computing. Unlike a regular coin that can either be heads or tails, this magical coin (qubit) can be heads, tails, or both at the same time!
            <br /><br />
            We use a special notation to describe the state of our magical coin (qubit). This notation is often written as |0⟩ and |1⟩, where |0⟩ represents tails and |1⟩ represents heads. These notations are known as Dirac or "bra-ket" notation. The vertical line "|" represents a quantum state and the "⟩" is simply a closing bracket.
            <br /><br />
        </div>
        <div class="col-4">
            <img class="w-100 h-25 mt-5 rounded-3 border border-dark border-3" src="~/images/less6_Dirac.jpg" />
            <p class="text-center fst-italic">Dirac Notation</p>
        </div>
    </div>

    <div class="row">
        <div class="col-8 fs-5">
            The weird thing about our magical coin is that it can be in a state where it's both heads and tails at the same time. We might write this as a combination: α|0⟩ + β|1⟩. Here, α and β are numbers that tell us the "amount" of tails and heads in our coin's state.
            <br /><br />
            The special rule for our magical coin is that if you square the "amount" of tails (α) and add it to the square of the "amount" of heads (β), it must always equal 1. This is because our coin must always be in some state—it can't just disappear!
            <br /><br />
        </div>
        <div class="col-4">
            <img class="w-100 h-25 mt-5 rounded-3 border border-dark border-3" src="~/images/less6_Equal1.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col-8 fs-5">
            But there's another twist. When you look at the coin (measure it), it "chooses" to be either just heads or just tails. And it doesn't choose evenly! It's more likely to choose heads if the "amount" of heads (β) is bigger and vice versa.<br /><br />
            Once it chooses, it forgets about its magical ability and acts like a regular coin until you stop looking at it again. This probabilistic nature of the qubit's state upon measurement is another hallmark of quantum mechanics.
            <br /><br />
            Note that until a qubit is measured, we can't know its state—it's only upon measurement that we know whether it's |0⟩ or |1⟩. This is known as the principle of quantum uncertainty.
        </div>
        <div class="col-4">
            <img class="w-100 h-50 mt-5 rounded-3 border border-dark border-3" src="~/images/less6_CoinSpin.jpg" />
            <p class="text-center fst-italic">Coin Heads & Tails While Spinning</p>
        </div>
    </div>

    @await Html.PartialAsync("_TakeQuizPrevNextButtons", Model)
</div>
