html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/BlueBackgroundImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Home Page */
#welcomeTitle {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#subTitle {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#mainPageContent {
    font-family: 'Roboto', serif;
}

.mainDivs {
    background-color: #c6e2f2;
    border-radius: 20px;
    padding-top: 15px;
}

#mainDiv1Content {
    font-family: 'Changa', serif;
}

#quantCompImg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Lessons Main Page */
#lessonsTitle {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.lessonName {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.lessonNum {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: bold;
}

.lessonPic {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill;
    border-radius: 65px;
}

.card {
    background-color: #c6e2f2;
}

.disguisedLink {
    color: black;
    text-decoration: solid;
}

/* Individual Lesson & Quiz Pages */
.lessQuizNum {
    font-family: 'Montserrat', sans-serif;
}

.lessName {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

/* Lesson 10 Page */
.rowLess10 {
    height: 200px;
}

/* Lesson 12 Page */
.rowLess12 {
    height: 250px;
}

/* Resources Page */
.resFontTitle {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.resFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    opacity: 0.7;
}

.resText {
    font-family: 'Montserrat', sans-serif;
}
