html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/BlueBackgroundImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#welcomeTitle {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 3em; /* adjust as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5); /* adjust as needed */
}

#subTitle {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5); /* adjust as needed */
}

#mainPageContent {
    font-family: 'Roboto', serif;
}

#mainDiv1 {
    background-color: #c6e2f2;
    border-radius: 20px;
    padding-top: 15px;
    /*margin-right: 1px;*/
}

#mainDiv1Content {
    font-family: 'Changa', serif;
}

#mainDiv2 {
    background-color: #c6e2f2;
    border-radius: 20px;
    padding-top: 45px;
}